.v-middle {
    vertical-align: middle!important;
}

/* styles.css or component-specific CSS */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.page-button {
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.page-button.active {
    background-color: #007bff;
    color: #fff;
}